# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Keep the lockfile (pin provider checksums)
!.terraform.lock.hcl

**/.terraform/*
